server:
  port: 8085

spring:
  application:
    name: syllabus-service
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:smd-rabbitmq}
    port: 5672
    username: guest
    password: guest
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration


  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres:5432/syllabus_db}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:123456}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 50MB

smd:
  mq:
    exchange: smd.syllabus.exchange
    routingKey: syllabus.event
  workflow:
    base-url: http://workflow-service:8084
    approval-queue: workflow.approval.syllabus
    approval-routing-key: workflow.approval
  file:
    upload:
      directory: ./uploads/syllabus-documents
    max:
      size: 52428800  # 50MB in bytes

  # Config Server Configuration (commented out - incompatible with Boot 3.4.0)
  # config:
  #   import: optional:configserver:http://config-server:8888

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/
    region: default
    avoid-url-based-aws-ec2-metadata-service: true
  instance:
    prefer-ip-address: true


