server:
  port: 8083

spring:
  application:
    name: public-service

  datasource:
    url: jdbc:h2:mem:public_db
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  cache:
    type: simple
  
  cloud:
    discovery:
      enabled: false

eureka:
  client:
    enabled: false
